@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #dedede;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dedede;
    --foreground: #ededed;
  }
}

body {
  color: #110303;
  background: var(--background);
}
